# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel

# Caché
.cache/
coverage/
